@media (min-width: 679px) {

  /*******************************************************************************************************/
  /*****************************                 nav+ footer       ***************************************/
  /*******************************************************************************************************/
nav{
    position:absolute;
    right:calc(100% - 3rem);
    height:30rem;
    width:100%;
    background: #00000099;
    backdrop-filter: blur(20px);
    z-index: 2;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    font-size:1.2rem;
    padding:0;
    transition: 0.6s all cubic-bezier(0.04, 0.83, 1, 0.77);
    align-items: center;
}
nav:hover{
    right:0;
}
nav h2{
    display:block;
    transform:rotate(90deg);
    text-transform: uppercase;
    font-style: var(--ff-serif);
    color:var(--orchid-100);
    font-size: 2.5rem;
    font-weight: 300;
    margin:0;
    padding:0;
    position:relative;
    left:2rem;
}
nav .navbar{
    display:flex;
    flex-direction: column;
    width: 17rem;
    height: 11rem;
    backdrop-filter:blur(0);
    align-items: end;
}
nav .navbar.mentions{
    align-items:start;
    margin-left:2rem;
    border-left: 0.1rem solid var(--java-100);
    padding-left:2rem;
}



  nav .navbar.mentions{
    display:flex;
  }

footer{
    font-size: 1rem;
  }
 footer .navbar {
    justify-content:start;
 }
  footer .navbar .item{
      display:none;
  }



  .navbar .logo{
    width:4vh;
    height:4vh;
    background:url("/img/logo-png.png") center center;
    background-size:cover;
    display:inline-block;
    margin-right:1vh;
  
  }

  


  /*******************************************************************************************************/
  /*****************************                 header               ************************************/
  /*******************************************************************************************************/

  .landing {
    width: 100%;
    height: 30rem;
    background: url("/img/landing-2.jpg") center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    animation: landing-background-reverse 0.3s;
  }

  .landing .anim-frame {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .landing .legend .title {
    width: 100%;
    font-family: var(--ff-serif);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 7vh;
    background: #f4d6f0cc;
    width: 100%;
    color: var(--orchid-400);
    transition: 0.3s all cubic-bezier(0.04, 0.83, 1, 0.77);
    z-index: 1;
  }

  .landing .text {
    font-family: var(--ff-sans-normal);
    padding: 2vw 2vh;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #45123599;
    backdrop-filter: blur(4px);
    color: var(--orchid-50);
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s all cubic-bezier(0.21, 0.08, 0.3, 0.99);
  }

  /* animation background *****************************************************************/
  .landing:hover {
    background-size: 120%;
    animation: landing-background 0.3s;
    cursor: pointer;
  }

  @keyframes landing-background {
    0% {
      background-size: 100%;
    }

    100% {
      background-size: 120%;
    }
  }

  @keyframes landing-background-reverse {
    0% {
      background-size: 150%;
    }

    100% {
      background-size: 100%;
    }
  }

  /* animation titre *****************************************************************/

  .landing:hover .title {
    font-size: 3rem;
    background: #f4d6f099;
    color: var(--orchid-950);
  }

  .landing .title {
    animation: 1s title-landing-start cubic-bezier(0.04, 0.83, 1, 0.77);
  }


  /* animation text *****************************************************************/

  .landing:hover .text {
    opacity: 1;
    transform: translateX(0);
  }

  /*******************************************************************************************************/
  /*****************************                 main              ***************************************/
  /*******************************************************************************************************/
  main {
    width: 100%;
    overflow: hidden;
  }

  /*******************************************************************************************************/
  /*****************************                 speciality                    ***************************/
  /*******************************************************************************************************/


  #speciality .title {
    font-size: 2rem;      
}

  #speciality .cards{
    padding:0 4vh;
    width:100%;
    flex-direction: row;
    justify-content: space-around;

  }

  #speciality .card {
    display: flex;
    flex-direction: column;
    flex:1rem;
    max-width:33%;
    border-right:none;
    border-bottom: 2vh solid var(--java-200);
    background:none;
    background-image: linear-gradient(
        to top,
        var(--java-100) 70%,
        var(--java-200) 80%,
        transparent 80%,
        transparent 100%
      );

  }

  #speciality .card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #speciality .card-image div {
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
    -webkit-box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.4);
    border: 0.5vw solid var(--java-200);
    transition: all 0.6s ease-in-out;
  }

  #speciality .macaron .card-image div {
    background: url("/img/speciality-macaron.jpg") center center #fff;
    background-size: cover;
  }
  #speciality .chocolat .card-image div {
    background: url("/img/speciality-chocolat.jpg") center center #fff;
    background-size: cover;
  }
  #speciality .ice .card-image div {
    background: url("/img/speciality-ice.jpg") center center #fff;
    background-size: cover;
  }

  #speciality .card-presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #speciality .card-title {
    font-family: var(--ff-sans-normal);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--java-800);
    transition: all 0.3s ease-in-out;
  }

  #speciality .card-text {
    font-family: var(--ff-sans-cond);
    font-weight: 200;
    color: var(--java-800);
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  /* animation card *****************************************************************/

  #speciality .card:hover {
    cursor: pointer;
    transform: scale(104%) translateY(-2%);
  }
  #speciality .card::after {
    content: "";
    position: absolute;
    top:auto;
    bottom: -2vh;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 2vh;
    background: var(--java-950);
    transform-origin: right center;
    transition: transform 0.6s cubic-bezier(0.04, 0.83, 1, 0.77);
    transform: translate3d(0, 0, 0) scaleX(0);
  }

  #speciality .card:hover::after {
    transform-origin: left center;
    transform: translate3d(0, 0, 0) scaleX(1);
  }

  #speciality .card:hover .card-title {
    color: var(--java-950);
  }

  #speciality .card:hover .card-text {
    color: var(--java-950);
  }

  /* animation card-image *****************************************************************/

  #speciality .card:hover .card-image div {
    width:100%;
    box-shadow: none;
    transform: rotate(360deg);
    border-radius: 0;
    border: 0.5vh solid var(--java-950);
  }

  /*******************************************************************************************************/
  /*****************************                 people                        ***************************/
  /*******************************************************************************************************/


  #people .jobs {
    padding:0 4vh;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
  }
  

  #people .title {
    font-size: 2rem;
  }


  #people .person {
    display: flex;
    flex-direction: column;

    width: 50%;
    border-right:none;
    border-bottom: 2vh solid var(--java-950);
    background-image: linear-gradient(
      to top,
      var(--java-800) 70%,
      var(--java-950) 80%,
      transparent 80%,
      transparent 100%
    );

    transition: all 0.3s;
    position: relative;
  }

  #people .person-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #people .person-image img {
    border-radius: 20%;
    width: 16vw;
    height: 16vw;
    object-fit: cover;
    filter: grayscale(1);
    transition: all 0.6s ease-in-out;
    animation: 0.6s decolorize ease-in-out;
  }

  #people .person-presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #people .person-title {
    font-family: var(--ff-sans-normal);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--java-200);
    transition: all 0.3s ease-in-out;
  }

  #people .person-text {
    font-family: var(--ff-sans-cond);
    font-weight: 200;
    color: var(--java-200);
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  /* animation person *****************************************************************/
  #people .person:hover .person-image img {
    animation: 0.3s colorize ease-in-out forwards;
  }

  @keyframes colorize {
    from {
      filter: grayscale(1);
    }
    to {
      filter: grayscale(0);
    }
  }

  @keyframes decolorize {
    from {
      filter: grayscale(0);
    }
    to {
      filter: grayscale(1);
    }
  }

  #people .person:hover {
    cursor: pointer;
  }
  #people .person::after {
    content: "";
    position: absolute;
    top:auto;
    bottom: -2vh;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 2vh;
    background: var(--java-200);
    transform-origin: right center;
    transition: transform 0.6s cubic-bezier(0.04, 0.83, 1, 0.77);
    transform: translate3d(0, 0, 0) scaleX(0);
  }

  #people .person:hover::after {
    transform-origin: left center;
    transform: translate3d(0, 0, 0) scaleX(1);
  }

  #people .person:hover .person-title {
    color: var(--java-50);
  }

  #people .person:hover .person-text {
    color: var(--java-50);
  }

  /* animation person-image *****************************************************************/

  #people .person:hover .person-image img {
    transform: rotate(5deg) scale(115%, 115%);
    border-radius: 0%;
    border: 1vh solid var(--java-200);
    background-blend-mode: luminosity;
  }

  /*******************************************************************************************************/
  /*****************************                 Nous contacter             ******************************/
  /*******************************************************************************************************/

  #contact {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    align-items: end;
    position: relative;
  }

  #contact .title {
    font-size: 2rem;
  }

  /*******************************************************************************************************/
  /*****************************                 form             ***************************************/
  /*******************************************************************************************************/

  #contact .form {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    background-image: linear-gradient(
      to left,
      var(--java-50) 90%,
      var(--java-200) 100%
    );

    border-radius: 20px 0 0 20px;
    border-right: 1rem solid var(--java-400);
  }

  #contact .form::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: -1rem;
    display: block;
    width: 1rem;
    height: 100%;
    background: var(--java-950);
    transform-origin: center bottom;
    transition: transform 0.6s cubic-bezier(0.04, 0.83, 1, 0.77);
    transform: translate3d(0, 0, 0) scaleY(0);
  }

  #contact .form:hover::after {
    transform-origin: center top;
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  label {
    display: block;
    height: 2rem;
    font-family: var(--ff-sans-cond);
    text-transform: uppercase;
    font-weight: 200;
    color: var(--java-950);
    transition: all 0.3s ease-in-out;
  }

  input[type="email"],
  input[type="tel"],
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    border: none;
    background-color: var(--java-50);
    box-shadow: 0px 0px 5px #ccc;
  }
  textarea {
    height: 20vh;
  }
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: var(--java-500);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: var(--java-700);
  }

  /*******************************************************************************************************/
  /*****************************                 social network               ***************************************/
  /*******************************************************************************************************/

  #social-network {
    text-align: center;
  }

  #social-network ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #social-network li {
    display: inline-block;
    margin: 0 10px;
  }

  #social-network a {
    text-decoration: none;
  }

  #social-network .logo {
    display: inline-block;
    margin-bottom: 5px;
  }

  #social-network .logo svg {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    color: var(--orchid-950);
    transition: all 0.3s ease-in-out;
  }
  #social-network .logo svg:hover {
    transform: scale(150%, 150%);
    border-radius: 50%;
  }

  #social-network .instagram .logo svg:hover {
    color: #fcaf45;
  }
  #social-network .youtube .logo svg:hover {
    color: #ff0000;
  }

  #social-network .facebook .logo svg:hover {
    color: #4267b2;
  }

  /*******************************************************************************************************/
  /*****************************                 infos              ***************************************/
  /*******************************************************************************************************/

  #contact-info {
    margin-right: auto;
    position: relative;
    align-items: center;
    width: 70%;
    background-image: linear-gradient(
      to right,
      var(--java-50) 90%,
      var(--java-200) 100%
    );

    border-radius: 0 20px 20px 0;
    border-left: 2vw solid var(--java-400);
  }

  #contact-info ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style: none;
    margin: 0;
    padding: 2vh 3vw;
  }

  #contact-info li {
    display: block;
    margin: 0;
    padding: 0;
  }

  #contact-info::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: -2vw;
    display: block;
    width: 2vw;
    height: 100%;
    background: var(--java-950);
    transform-origin: center bottom;
    transition: transform 0.6s cubic-bezier(0.04, 0.83, 1, 0.77);
    transform: translate3d(0, 0, 0) scaleY(0);
  }

  #contact-info:hover::after {
    transform-origin: center top;
    transform: translate3d(0, 0, 0) scaleY(1);
  }

  #contact-info a {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    text-decoration: none;
    font-size: 3vw;
    font-family: var(--ff-sans-cond);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--java-800);
  }
  #contact-info a:hover {
    color: var(--java-950);
  }

  #contact-info svg {
    width: 5vw;
    height: 5vw;
    object-fit: cover;

    transition: all 0.3s ease-in-out;
  }
  #contact-info svg:hover {
    color: var(--java-800);
    transform: scale(120%, 120%);
    border-radius: 50%;
  }
}
